<mat-card>
    <h1>New here? Here are FAQs to Guide You around the Website</h1>

    <h3>What is this website about?</h3>
    <p>
        This website is meant to help guide people to various topics in recreational mathematics. It includes topics on areas such as topology (the study of shapes <b><i>[Remember to check definition]</i></b>), various puzzles both numerical and physical, famous mathematicians, famous math legends, math jokes, math for the holidays, and more.
    </p>

    <h3>What is recreational math?</h3>
    <p>I'm glad you asked. In case you were wondering, no, this is not about the boring math with a bunch of rules you must follow that you learned about in school. This is <i>not</i> just about solving equations to finish a problem. Instead of asking for x, recreational math asks what sort of fun things you can do with your math skills. This can be solving fun puzzles, playing with paper, doodling, playing number games, and much more such that I would not be able to do justice to what recreational math is in just this short paragraph.</p>

    <h3>Is there anything else on this website?</h3>
    <p>Yes! I wanted to add other things related to math that interest me (and hopefully you) to this website. Some of these things include pages on math for the holidays, math jokes, and a history of things like famous mathematicians, when some fields were invented, and famous mathematical legends. Additionally, I have added a Sources page where you can go and check out other varied sources that I have discovered which have much much more and a larger variety of topics. These sources also vary greatly in medium - some are websites, others are videos, a few are books, and yet others are apps, games, or models.</p>
</mat-card>