<mat-card>
    <h1>Neil James Alexander Sloane</h1>
        <h3>Life</h3>
            <p>Neil Sloane was born on October 10, 1939.</p>
        <h3>Mathematical Contributions</h3>
            <p>Neil Sloane is most well-known not for any theorem he proved, or any specific work in a certain field, but for his creation of the OEIS (On-line Encyclopedia of Integer Sequences). This website is a compilation of a bunch of integer sequences (like 1,2,3,4,5...) and has graphs of how fast each function grows, how each sequence would sound if converted to music, and more. Sloane's collection started out as a stack of handwritten index cards, then he updated it to become a book (co-authored with Simon Plouffe) with over 5,000 sequences, then he got so many new submissions that he turned it into a website. For the first 170,000 submissions, Sloane had to approve them himself. Currently, the website has been around for over 50 years now and has over 335,000 entries.</p>
        <h3>Miscellaneous</h3>
            <p>If you would like to learn more about the <a href="https://oeis.org/">OEIS website</a>, you can visit the website for yourself, or you can check out the Youtube channel Numberphile which includes some videos with Neil Sloane explaining some of his favorite sequences in the OEIS and more.</p>
</mat-card>
