ul.navbar {
    margin-top: 0;
    width: 100%;
    height: 1em;
    // border: solid;
    // border-width: 5px;
    // border-color: black;
}
div.floatRight>li{float: right;}
div.floatLeft>li{float: left;}