<!-- Site navigation menu -->
<ul class="navbar">
    <!--Below is a bunch of links-->
    <div class="floatLeft">
        <li>
            <a href="home">
                <button mat-flat-button color="primary">Home Page</button>
            </a>
        </li>
    </div>
    <div class="floatRight">
        <li class="filler-space">
            <a href="new-click-here.html">
                <button mat-flat-button color="primary">New? Click here!</button>
            </a>
        </li>
        <li>
            <a href="general-timeline.html">
                <button mat-flat-button color="primary">Timeline</button>
            </a>
        </li>
        <li>
            <a href="other-sources.html">
                <button mat-flat-button color="primary">Other Sources</button>
            </a>
        </li>
    </div>
</ul>
