<mat-card>
    <h1>Holiday Fun</h1>
        <h3>About</h3>
            <p>Yes, I did make a page about holiday fun. And yes, math can be fun for many different holidays. I will list some of the various activities that I think could be fun for various holidays.</p>
        <h3>The Holidays</h3>
            <h5>New Year's</h5>
                <p>Check back later.</p>
            <h5>Halloween</h5>
                <p>Perhaps you would like to see how I could possibly tie Halloween and math together. Well, here goes...</p>
                <p>Vampire Numbers - A true Vampire Number "is a composite natural number v, with an even number of digits n, that can be factored into two integers x and y each with n/2 digits and not both with trailing zeroes, where v contains precisely all the digits from x and from y, in any orger, counting multiplicity. X and y are called the fangs." (Source: <a href="https://en.wikipedia.org/wiki/Vampire_number#:~:text=In%20number%20theory%2C%20a%20vampire,all%20the%20digits%20of%20the">Wikipedia</a>) So, since that jargon probably doesn't mean much to you, I'll give you an example. 1260 is a vampire number because 21 * 60 = 1260. 21 and 60 would be the "fangs" of that number. The next few vampire numbers are: 1395, 1435, 1827, 2187, 6880..., and to find more of them, you can find them under sequence <a href="https://oeis.org/A014575">A0147575</a> in the OEIS.</p>
            <h5>Christmas</h5>
                <p>Alrighty, let's get right to it.</p>
                <p>.. .. .. ..</p>
</mat-card>
