<mat-card>
    <h1>Georg Ferdinand Ludwig Philipp Cantor</h1>   
        <h3>Life</h3>
            <p>Georg Cantor was born on March 3, 1845, and died on January 6, 1918, and the age of 72.</p>
            <p>Cantor's counterintuitive ideas about infinity were rejected, causing him to doubt himself which then caused him to have successive nervous breakdowns, eventually landing him a sanatorium where he eventually died. One of his main detractors was Leopold Kronecker who believed that numbers math should only have finite numbers used in finite operations. (Kronecker also believed irrational numbers, upper and lower limits, and transcendental numbers had no place in mathematics, but alas, I'm getting carried away here, aren't I?)</p>
        <h3>Mathematical Contributions</h3>
            <p>Cantor's most well-known contribution to mathematics was the creation of a new branch of mathematics called set theory which allowed him to describe different types and sized of infinities. One of the things he proved is that there are just as many prime numbers as there are integers. Another thing he proved was that there are infinitely more real numbers than there are integers. He even proved that there are infinitely many infinities. </p>
        <h3>Miscellaneous</h3>
            <p>Miscellaneous Facts</p>
</mat-card>