<mat-card>
    <h1>Culinary Math</h1>
        <h3>Math Shapes in Food</h3>
            <p>Math is found in many places, but you might be wondering, "How in the world can you relate math and food?" Well, for one, you can make food into different mathematical shapes. You can make what some people would call flex-mex by cutting and folding a tortilla into a hexaflexagon (more on that on another page.. .. .. .. .. .. .. .. ..), adding food, and lastly "flexing" the food on the flexagon to its middle layer. This of course ins't guaranteed to keep all of the food in the tortilla, but it sure is a fun way to make food. (add YouTube link.. .. .. .. .. .. ..)</p>
        <h3>Thanksgiving Food</h3>
            <h5>Vector Matherole</h5>
                <p>Make a casserole and add green bean vectorson top. (Of course you can add them wherever you want, but some sort of representation of something like a magnetic field would look super cool.)</p>
            <h5>Mathed Potatoes</h5>
                <p>First, make regular mashed potatoes (referred to as "mathed potatoes" from here on out) and gravy. Then, try to find the optimal way to arrange your mathed potatoes such that you have the lowest mathed potatoes to gravy as possible without letting the gravy touch your plate (and for bonus points, make sure the gravy won't touch your plate throughout your whole meal).</p>
        <h3>Pi Day!</h3>
            <h5>Venn Piagram</h5>
                <p>Of course, everyone's heard of making a <i>regular</i> pie on Pi Day, but <i>real</i> nerds make Venn Piagrams. Simply make a Venn Diagram out of pie crust, then pick two (or more depending on your crust!) of your favorite types of pies to put on the outside parts of the diagram, and finally, find some way to make a new pie in the middle that uses aspects of all of the surrounding pies.</p>
</mat-card>
