<mat-card>
    <h1>Culinary Math</h1>
        <h3>Math Shapes in Food</h3>
            <p>Math is found in many places, but you might be wondering, "How in the world can you relate math and food?" Well, for one, you can make food into different mathematical shapes like flexagons (see Flex-Mex). You could also make food that symbolizes mathematical concepts, such as how the Venn Piagram resembles a Venn Diagram. Or, you could always come up with your own food related to math in some other way.</p>
        <h3>Thanksgiving Food</h3>
            <h5>Vector Matherole</h5>
                <p>Make a casserole and add green bean vectorson top. (Of course you can add them wherever you want, but some sort of representation of something like a magnetic field would look super cool.)</p>
            <h5>Mathed Potatoes</h5>
                <p>First, make regular mashed potatoes (referred to as "mathed potatoes" from here on out) and gravy. Then, try to find the optimal way to arrange your mathed potatoes such that you have the lowest mathed potatoes to gravy as possible without letting the gravy touch your plate (and for bonus points, make sure the gravy won't touch your plate throughout your whole meal).</p>
        <h3>Pi Day!</h3>
            <h5>Venn Piagram</h5>
                <p>Of course, everyone's heard of making a <i>regular</i> pie on Pi Day, but <i>real</i> nerds make Venn Piagrams. Simply make a Venn Diagram out of pie crust, then pick two (or more depending on your crust!) of your favorite types of pies to put on the outside parts of the diagram, and finally, find some way to make a new pie in the middle that uses aspects of all of the surrounding pies.</p>
        <h3>Miscellaneous</h3>
            <h5>Flex-Mex</h5>
                <p>This is essentially a hexa-flexagon (though I'm sure other flexagons could work too) with taco toppings in the middle. (A flexagon is a piece of paper "that can be 'flexed' or folded in certain ways to reveal faces besides the two that were originally on the back and front." [<a href ="https://en.wikipedia.org/wiki/Flexagon">Wikipedia</a>]) This may be unnecessary, but I'm sure it's fun to try out a shape where all the toppings can be in the actual middle of the shape. If you want detailed instructions on making Flex-Mex, I would recommend <a href="https://mathcraft.wonderhowto.com/how-to/make-flex-mex-a-mathematically-delicious-hexaflexagon-burrito-0140143/">this website</a>.</p>
</mat-card>
