<ul class="sidebar">
    <!--Below is a bunch of links-->
    <li>
        <a href="info">
            <button mat-flat-button color="accent">Info Page</button>
        </a>
    </li>
    <li>
        <a href="new-click-here.html">
            <button mat-flat-button color="accent">New? Click here!</button>
        </a>
    </li>
    <li>
        <a href="general-timeline">
            <button mat-flat-button color="accent">Timeline</button>
        </a>
    </li>
    <li>
        <a href="jokes">
            <button mat-flat-button color="accent">Math Jokes</button>
        </a>
    </li>
    <li>
        <a href="learn-more">
            <button mat-flat-button color="accent">Learn More!</button>
        </a>
    </li>
    <li>
        <a href="math-wars">
            <button mat-flat-button color="accent">Math Wars</button>
        </a>
    </li>
</ul>