<!--<ul class="sidebar">-->
    <!--Below is a bunch of links-->
    <!--<li>
        <a href="info">
            <button mat-flat-button color="accent">Info Page</button>
        </a>
    </li>
    <li>
        <a href="new-click-here.html">
            <button mat-flat-button color="accent">New? Click here!</button>
        </a>
    </li>
    <li>
        <a href="general-timeline">
            <button mat-flat-button color="accent">Timeline</button>
        </a>
    </li>
    <li>
        <a href="jokes">
            <button mat-flat-button color="accent">Math Jokes</button>
        </a>
    </li>
    <li>
        <a href="learn-more">
            <button mat-flat-button color="accent">Learn More!</button>
        </a>
    </li>
    <li>
        <a href="math-wars">
            <button mat-flat-button color="accent">Math Wars</button>
        </a>
    </li>
    <li>
        <a href="general-mathematicians">
            <button mat-flat-button color="accent">Famous Mathematicians</button>
        </a>
    </li>
</ul>-->

<mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title>
        Miscellaneous
        <!--Title-->
    </mat-panel-title>
    <mat-panel-description>
        <!--Descriptiom-->
    </mat-panel-description>
    </mat-expansion-panel-header>
    <!--Primary Content-->
    <li>
        <a href="info">
            <button mat-flat-button color="accent">Info Page</button>
        </a>
    </li>
    <li>
        <a href="new-click-here.html">
            <button mat-flat-button color="accent">New? Click here!</button>
        </a>
    </li>
    <li>
        <a href="jokes">
            <button mat-flat-button color="accent">Math Jokes</button>
        </a>
    </li>
    <li>
        <a href="calculator-fun">
            <button mat-flat-button color="accent">Calculator Fun</button>
        </a>
    </li>
    <li>
        <a href="holiday-fun">
            <button mat-flat-button color="accent">Holiday Fun</button>
        </a>
    </li>
    <li>
        <a href="culinary-math">
            <button mat-flat-button color="accent">Culinary Math</button>
        </a>
    </li>
    <li>
        <a href="learn-more">
            <button mat-flat-button color="accent">Learn More!</button>
        </a>
    </li>
    <li>
        <a href="credits">
            <button mat-flat-button color="accent">Credits</button>
        </a>
    </li>
    
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title>
        History
    </mat-panel-title>
    <mat-panel-description>
        of Math
    </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Primary Content</p>
    <li>
        <a href="general-timeline">
            <button mat-flat-button color="accent">Timeline</button>
        </a>
    </li>
    <li>
        <a href="math-wars">
            <button mat-flat-button color="accent">Math Wars</button>
        </a>
    </li>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title>
        Mathematicians
    </mat-panel-title>
    </mat-expansion-panel-header>
    <li>
        <a href="general-mathematicians">
            <button mat-flat-button color="accent">Famous Mathematicians</button>
        </a>
    </li>
    <li>
        <a href="john-conway">
            <button mat-flat-button color="accent">John Conway</button>
        </a>
    </li>
    <li>
        <a href="neil-sloane">
            <button mat-flat-button color="accent">Neil Sloane</button>
        </a>
    </li>
    <li>
        <a href="georg-cantor">
            <button mat-flat-button color="accent">Georg Cantor</button>
        </a>
    </li>
</mat-expansion-panel>