ul.sidebar {
  margin-top: 0;  
  left: 1em;
}

button {
  width: 100%;
  text-align: left;
  border-radius: 8px;
  border-bottom: solid;
}

mat-expansion-panel {
  //margin-left: 2.5em;
  margin-left: 1em;
}

/*expansion-panel {
  margin-left: 2em;
}*/