<mat-card>
    <h1>Math Jokes</h1>
    <h3>About</h3>
    <p>T   his page is a list of some of my favorite math jokes, along with some of the classics.</p>

    <h3>Personal Favorites</h3>
    <p>I would just like to start off by saying that the problem with math puns is that calculus jokes are all derivative, trigonometry jokes are too graphic, algebra jokes are usually formulaic, arithmetic jokes are pretty basic, and geometry jokes fall a bit flat, but I guess the occasional statistics joke is an outlier.</p>

    <h3>Classic Math Jokes</h3>
    <p>Q: What does a mathematician do when he is cold? <br> A: He goes to the corner of the room where it is always 90 degrees!</p>
    <p>Q: You know what's odd? <br> A: Numbers that aren't divisible by two!</p>
</mat-card>