<mat-card>
    <h1>Credits</h1>
        <h3>About</h3>
            <p>I would like to thank all the wonderful people who helped make me make this website as good as it is today.</p>
        <h5>Lead Programmer</h5>
                <p>Anna Buchholz</p>
        <h5>Lead Web Designer</h5>
                <p>Anna Buchholz</p>
            <h6>Associate Web Designer</h6>
                <p>Lizzie Rothweiler</p>
        <h5>Lead Writer</h5>
                <p>Anna Buchholz</p>
        <h5>Lead Editor</h5>
                <p>Anna Buchholz</p>
    <h2>Special Thanks</h2>
        <h6>Lizzie Rothweiler</h6>
</mat-card>
