<mat-card>
    <h1>John Horton Conway</h1>
        <h3>Life</h3>
            <p>John Conway was born on December 26, 1937, and he died on April 11, 2020, at the age of 82 from COVID-19 complications.</p>
        <h3>Mathematical Contributions</h3>
            <p>His most well-known contribution to mathematics was the creation of the game of life. And no, I don't mean the Game of Life board game. I mean a mathematical game where some initial input (of which "cells" are "living" or "dead") completely determines how the "game" is affected later. (If you are interested in playing around with this, there are different apps you can easily download. <i>[REMEMBER TO FIND A SPECIFIC ONE TO RECOMMEND.]</i>)</p>
            <p>He also did much work on the Monster Group. So... this is <i>reeeeaaaly</i> complicated. Suffice it to say that the smallest dimesnsion it can be in is 196,883 and that it has about 10^54 elements in it. Of course, compared to our puny <i>three</i> dimensions, the fact that this can even be studied is a monstrous mathematical feat. (Note that many people [like Fischer, Griess, Livingstone, Thorne, and Wilson] have worked on learning more about the Monster Group and that of course Conway wasn't the only one who contributed.</p>
        <h3>Miscellaneous</h3>
            <p>If you would like to know more about him (or would like to have him teach you something), the Youtube channel Numberphile features him in some of their episodes.</p>
</mat-card>