<mat-card>
    <h1>Famous Mathematicians</h1>
        <h3>About</h3>
            <p>This page includes some basic information on a feww well to kind of well known mathematicians.</p>
        <h3>Leonardo Pisano (Fibonacci)</h3>
            <p>Fun fact, Leonardo Pisano nicknamed himself Fibonacci since Bonacci was the family name (.. .. .. .. ..??????) and the "Fi" part was short for "Filius" meaning son (.. .. .. ..??????). This would be similar to people today who have a last name like Johnson or Jackson. .. .. .. .. ..</p>
</mat-card>