/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
body {
    padding-left: 0;
    margin: 0;
}

mat-card{
    margin-right: 1em;
    margin-left: 1em;
}

 h1{
     border-bottom: thick dotted
 }

 ul{
     list-style-type: none;
 }

// address {
//     margin-top: 1em;
//     padding-top: 1em;
//     /*margin-left: 11em;*/
//     margin-left: 0.5em;
//     border-top: thin dotted;
// }

// /*h1{margin-left: 5.2em;}*/
// h3{
//     /*margin-left: 10em;*/
//     margin-left: 0.5em;;
// }
// p{
//     /*margin-left: 12.3em;*/
//     margin-left: 1.2em;
//     margin-right: 1.5em;
// }

// div.card{
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//   padding-top: 0.75em;
//   padding-left: 2em;
//   padding-bottom: 1em;
//   padding-right: 1em;
//   margin-right: 2em;
//   margin-left: 12em;
//   margin-top: 2em;
//   margin-bottom: 2em;
//   /*text-align: center;*/
//   /*background-color: #8888ddbb;*/
//   background-color: #ffffff77
//   /*margin-top: 1em;*/
//   /*margin-left: 9em;*/
//   /*max-width: 30em;*/
// }


// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*ul {
    list-style-type: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
