<h1>General Timeline</h1>>

    <h3>About</h3>
        <p>This page is here to give you a general understanding of when various turning points happened in the world of mathematics.</p>

    <h3>Timeline</h3>
        <p>
            1557 - The plus sign was created. (It is derived from the latin word "et" which means "and".) Robert Recorde's book <i>The Whetstone of Witte</i> (written in 1557) was the first time the plus and minus symbols were introduced to the English. <br>
            1557 - The minus sign was created. Just like the plus and equals sign, the minus sign was introduced in Robert Recorde's book <i>The Whetstone of Witte</i>. <br>
            1557 - This was the first time the = symbol was used as shorthand for "is equal to." This symbol was chosen because "what is more equal than two parallel lines of equal length?". Similarly to the plus and minus signs, this symbol was also first used in the <i>Whetstone of Witte</i> by Robert Recorde. <br>
            1618 - One of the earliest times the multiplication symbol (x) was used. It was found in the anonymous appendix in Edward Wright's translation of John Napier's "<i>A Description of the Admirable Table of Logarithmes</i> Later on, since it could be confused for a regular "x" in English, Leibniz began to use the dot product <b><i>Insert dot symbol here</i></b> symbol instead. <br>
            1659 - This is when the obelus (yes, the different division signs have names and the "obelus" is the <b><i>insert obelus here</i></b> sign) was first used. It was found in Jahann Rahn's algebra book <i>Teutsche Algebra</i> written in 1659. The solidus (this symbol "/") was introduced by De Morgan in 1845. In 1684 Leibniz introduced the colon as a symbol for division and ratios in his <i>Acta Eruditorum</i>. <br>
        </p>