<h1>Recommended Sources</h1>
<h3>Website Links</h3>

<p>
    <a href='https://oeis.org/wiki/Main_Page'>OEIS Main Page</a><br>
    <a href='https://oeis.org'>OEIS Search Page</a><br>
    <a href='https://mathworld.wolfram.com'>Worlfram Math World</a><br>
</p>

<h3>Apps</h3>

<p>Here is a list of some apps, models, and games I have found that can be downloaded on Apple devices:</p>
    <p>Geogebra - This is a series of apps that has graphing calculators and the like. Sometimes it is used for Numberphile (a Youtube channel about math) videos to show models. </p>