<h1>Recommended Sources</h1>
<h3>Website Links</h3>

<p>
    <a href='https://oeis.org/wiki/Main_Page'>OEIS Main Page</a><br>
    <a href='https://oeis.org'>OEIS Search Page</a><br>
    <a href='https://mathworld.wolfram.com'>Worlfram Math World</a><br>
    <a href='https://googology.wikia.org/wiki/Googology_Wiki'>Googology Main Page</a><br>
</p>

<h3>Apps</h3>

<p>Here is a list of some apps, models, and games I have found that can be downloaded on Apple devices:</p>
    <p>Geogebra - This is a series of apps that has graphing calculators and the like. Sometimes it is used for Numberphile (a Youtube channel about math) videos to show models. </p>
    <p><b>Torus Games and Hyperbolic Games</b> <br>Torus Games - This is a great app where you can play games like tic-tac-toe on a torus (dougnut shape) rather than a flat surface. This works very similarly to pac-man where something that goes off one side of the screen reappears on the other (left/right and top/bottom). I think this app is great because it is unique, yet intuitive enough to be fun for a while. It has over 10 games with multiple difficulty levels for each (and some of them have a toggle between a computer and human opponent). </p>
    <p>Hyperbolic Ganes - This is another great app from the same developer. It has a similar concept except all of the games are on a hyperbolic surface which is much harder to understand than toruses, so it is recommended you check out Torus Games first. This game also only has three different games to try, but I would still recommend trying it out since you can change some things like the surface (to a sphere or hexagonal torus) from the settings page and it gives you a better understanding of these surfaces.</p>